<!DOCTYPE html>
<html>
  <head>
    <title>Staticpage</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">Static Page!</a>

      </div>
    </nav>

    <hr />

 <br class="clear" />



  <div class="container">
    <%= yield %>
</div>
<br/>
<br/>
<br/>
<br/>
 <div class="col-10 offset-1">
  <p>This is a static page created for a quiz required to pass the boot camp.</p>
  <p>I hope you like this page as much as I enjoyed creating it!</p>
</div>

    <div class="footer">
      <div class="container">
        <div class="row">
                <div class="col-6">
        Thank you for visiting! 
      </div>
      <div class="col-6 footer-blurb">
        Proudly built by <a href="https://github.com/brettsimington">[Brett Simington]</a><br />
      </div>
        </div>
      </div>
    </div>

     



  </body>
</html>
